---
layout: default
---

<article class="post">

  <header class="post-header">
    <p class="post-meta">
      {% if page.date %}
        <time datetime="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: "%B %-d, %Y" }}
        </time>
      {% endif %}
    </p>
  </header>

  <section class="post-content">
    {{ content }}
  </section>

</article>

<script src="https://utteranc.es/client.js"
        repo="csmith454.github.io"
        issue-term="pathname"
        theme="boxy-light"
        crossorigin="anonymous"
        async>
</script>
