---
layout: default
---

<article class="post">

  <header class="post-header">
    <p class="post-meta">
      {% if page.date %}
        <time datetime="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: "%B %-d, %Y" }}
        </time>
      {% endif %}
    </p>
  </header>

  <section class="post-content">
    {{ content }}
  </section>

</article>

<div id="comments-section">
  <script src="https://utteranc.es/client.js"
          repo="csmith454/csmith454.github.io"
          issue-term="title"
          theme="github-light"
          crossorigin="anonymous"
          async>
  </script>
</div>
